/**
 * Main app css
 *
 */
body {
    background: #000;
}

.fullscreen {
    width: 100%;
    height: 100%;
    position: absolute;
}

#img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: relative;
}

#img img {
    display: block;
    width: 100%;
}
